---
import { CookieBar } from '@/partials/CookieBar';
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { Search } from '@/partials/Search';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
    canonical?: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;

const canonicalURL = new URL(`${Astro.url.pathname}`, Astro.site);
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <link rel="alternate" type="application/rss+xml" href="/index.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />
  </head>
  <body class="bg-[#001F20] text-gray-100">
    <Navbar><Search client:only="react" /></Navbar>
    <slot />
    <CookieBar client:only="react" />
    <Footer />
  </body>
  <script async src="https://mws02-51626.wykr.es/script.js" data-website-id="d963e08c-c737-4930-9a33-a2389a0cc1ad"></script>
  <!-- MailerLite Universal -->
  <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '528762');
  </script>
<!-- End MailerLite Universal -->
  <script>
    var d = document,
      w = 'https://tally.so/widgets/embed.js',
      v = function () {
        'undefined' != typeof Tally
          ? Tally.loadEmbeds()
          : d
              .querySelectorAll('iframe[data-tally-src]:not([src])')
              .forEach(function (e) {
                e.src = e.dataset.tallySrc;
              });
      };
    if ('undefined' != typeof Tally) v();
    else if (d.querySelector('script[src="' + w + '"]') == null) {
      var s = d.createElement('script');
      (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
    }
  </script>
</html>
